<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skybox</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="container">
    <%dat.forEach(function(item){%> 
    <div class="card shadow-lg p-3 mb-5 bg-white rounded"  style="width: 80%; margin-left: 10%; margin-top: 15px; color: black;">
        <img src="../uploads/<%=item.photo%>" class="card-img-top" alt="...">
        
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h5 class="card-title">Expense: <%=item.Ename%></h5></li>
              <li class="list-group-item">Discription: <%=item.dis%></li>
              <li class="list-group-item">Price: $<%=item.price%></li>
              <li class="list-group-item"><a href="/home"> <button  class="snn">Go back Home</button></a></li>
            </ul>
    </div>
    <%});%>
</body>
</html>