<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to skybox</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/stylex.css' />
  </head>
  <body class="container-fluid">
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <a href="/addxpence" class="text-white h6">Add Expence</a><p></p>
          <a class="text-white h6" href="/" >Log out</a>
        </div>
      </div>
      <nav class="navbar navbar-custom">
        <div class="text-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="material-icons">menu</i>
        </button>
      </div>
        <h5 class="text-white h4">Your Profile</h5>
      </nav>
    </div>
    <div class="profil">
      <div class="row">
        <h1 class="cir"><i class="material-icons md-48">person_outline</i></h1>
        <div class="form-inline">
          Enactus KNUST <br>
          Enactus Financies<br>
          www.enactus.com <br>
        </div>
     </div>
    </div>
    <div class="pduct">

      <%dat.forEach(function(item){%> 
        <div class="subp">
          <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand"><%=item.Ename%></a>
            <div class="form-inline">$<%=item.price%> <a class="aaa" href="/detail/<%=item._id%>"><i class="material-icons">arrow_forward</i></a> </div>
          </nav>
        </div>
      <%});%>	  
        <p></p>
        <div class="subp">
          <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Equipment</a>
            <div class="form-inline">$0.00 <a class="aaa" href="/detail"><i class="material-icons">arrow_forward</i></a> </div>
          </nav>
        </div>
        <p></p>
        <div class="subp">
          <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Human Resource</a>
            <div class="form-inline">$0.00 <a class="aaa" href="/detail"><i class="material-icons">arrow_forward</i></a> </div>
          </nav>
        </div>
        <p></p>
        <div class="subp">
          <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Accomodation</a>
            <div class="form-inline">$0.00 <a class="aaa" href="/detail"><i class="material-icons">arrow_forward</i></a> </div>
          </nav>
        </div>
        <p></p>
        <div class="subp">
          <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Miscellaneous</a>
            <div class="form-inline">$0.00 <a class="aaa" href="/detail"><i class="material-icons">arrow_forward</i></a> </div>
          </nav>
        </div>
        <p></p>

    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
